# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim files
*.swp
*.swo
*~

# Project temp files
*.data
test.capnp.c++
test.capnp.h
test.txt
main
