# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Vim files
*.sw*
*~

# Project temp files
*.data
proto/example.capnp.c++
proto/*.capnp.h
proto/*.capnp.c++
proto/*_capnp.lua
proto/*_capnp.llua
#proto/enums.capnp.h
test.schema.txt
main
*.bak
test.schema.lua
CLIP
example_capnp.lua
data_generator.lua
*.json
*.log
*.bin

#lua-capnproto-*.rockspec
*.src.rock
